@font-face {
  font-family: 'Nexa';
  src: local('Nexa Light'), local('NexaLight'), url('nexalight.woff2') format('woff2'), url('nexalight.woff') format('woff'), url('nexalight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa';
  src: local('Nexa Bold'), local('NexaBold'), url('nexabold.woff2') format('woff2'), url('nexabold.woff') format('woff'), url('nexabold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 135px;
  width: 100vw;
  background: #373737;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#logo-wrapper {
  display: flex;
  width: 940px;
  height: 66px;
  align-items: center;
}

.logo-g {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 81px;
  background: #F26C4F;
  color: #FFFFFF;
  font-family: Nexa;
  font-weight: 700;
  font-size: 31px;
}

.triangle {
  border-top: 12px solid transparent;
	border-left: 12px solid #F26C4F;
	border-bottom: 12px solid transparent;
}

.logo-title {
  margin-left: 10px;
  font-family: Nexa;
  color: #FFFFFF;
  
  
}

#top-menu-wrap {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #474747;
}

menu {
  height: 69px;
  width: 940px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

#top-menu-buttons-wrap {
  width: 402px;
  height: 100%;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-button {
  box-sizing: border-box;
  width: 45px;
  height: 100%;
  padding: 0;
  border: none;
  border-bottom: 5px #FFFFFF00 solid;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 12px;
  color: #FFFFFF;
}

.spacer {
  color: #767676;
  padding-bottom: 5px;
  font-size: 12px;
}


.top-button:hover {
  border-bottom: 5px #F26C4F solid;
}


  
#search-wrapper {
  background: gray;
  width: 940px;
  height: 70px;
}

/* #content-wrap {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
} */
''