@font-face {
  font-family: "Nexa";
  src: local("Nexa Light"), local("NexaLight"),
    url("nexalight.woff2") format("woff2"), url("nexalight.woff") format("woff"),
    url("nexalight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nexa";
  src: local("Nexa Bold"), local("NexaBold"),
    url("nexabold.woff2") format("woff2"), url("nexabold.woff") format("woff"),
    url("nexabold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 135px;
  width: 100vw;
  background: #373737;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#logo-wrapper {
  display: flex;
  width: 940px;
  height: 66px;
  align-items: center;
}

.logo-g {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 81px;
  background: #f26c4f;
  color: #ffffff;
  font-family: Nexa;
  font-weight: bold;
  font-size: 36px;
}

.triangle {
  border-top: 12px solid transparent;
  border-left: 12px solid #f26c4f;
  border-bottom: 12px solid transparent;
}

.logo-title {
  margin-left: 10px;
  font-family: Nexa;
  font-size: 18px;
  color: #ffffff;
}

#top-menu-wrap {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #474747;
}

menu {
  height: 69px;
  width: 940px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

#top-menu-buttons-wrap {
  width: 402px;
  height: 100%;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-button {
  width: 45px;
  height: 100%;
  padding: 0;
  border: none;
  border-bottom: 5px #ffffff00 solid;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
}

.top-button:hover {
  border-bottom: 5px #f26c4f solid;
}

.spacer {
  color: #767676;
  padding-bottom: 5px;
  font-size: 12px;
}

#content-wrap {
  width: 940px;
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 3;
}

#search-wrap {
  width: 100%;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbox {
  display: flex;
}

.searchbox input {
  z-index: 1;
  height: 44px;
  width: 300px;
  padding-left: 10px;
  border: none;
  color: #959595;
  font-size: 12px;
  font-weight: bold;
  background: #ffffff;
  filter: drop-shadow(0.5px 0.5px 0.5px #00000050);
}

.searchbox input::-moz-placeholder {
  color: #959595;
  font-weight: bold;
  font-size: 12px;
}
.searchbox input::-webkit-input-placeholder {
  color: #959595;
  font-weight: bold;
  font-size: 12px;
}
.searchbox input:focus::-webkit-input-placeholder {
  color: transparent;
}
.searchbox input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
.searchbox input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
.searchbox input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */

.searchbox button {
  height: 46px;
  width: 46px;
  padding: 4px 0 0 0;
  margin-left: -46px;
  z-index: 2;
  cursor: pointer;
  background: transparent;
  border: none;
}

.searchbox button:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAMAAADX9CSSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAq1BMVEXybE/////ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE/ybE////8GFztGAAAAN3RSTlMAAEWTzORCzwOQt3JRM1p7ybGoJDbG+WZjnyo88xuNpUt424pd52nwVzkS1T+Z9mCHMLpsSHW9uMrqCgAAAAFiS0dEAf8CLd4AAADvSURBVCjPZZJrW8IwDIXTrqwZCjKBKaKijgkK3i/n//8z03XLhuRT+z5JmnNSohg2cQMMXGJNjEhTjzZ8qpwzuQ9PTkfjs4mcMo6cc+B82vSbzYGca56huCCNUJwFboHLDpMxCWANsccikquGs4NnWuL6JnaOZfJmCizpFquYfof7hpsHlOSwPuIlPFVS858/YkMFpkd8C0j+U8uDas3X/s9D51yp/XUe1WXMTubR+Tu+D/OL3pdDzvOgN/gzPuBl7U/w8/Wtx98bP2v/F+0bH5/qP7E4W+Rf+9H3z69oSFj3a3v7tb291/+hQtX9hz8PIR64HOWAtwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wMi0wM1QyMjoyNzozNiswMDowMEibKksAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDItMDNUMjI6Mjc6MzYrMDA6MDA5xpL3AAAAAElFTkSuQmCC);
}

#social-block {
  display: flex;
  height: 100%;
  width: 300px;
  justify-content: space-between;
  align-items: baseline;
}

.social-button {
  font-size: 12px;
  filter: drop-shadow(0px 1px 0px #ffffff);
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: "Arial";
  cursor: pointer;
  font-size: 12px;
  color: #8f8f8f;
}

.twit-but:before {
  content: url(../images/twitter.svg);
  padding-right: 5px;
  /* width: 200px;
  height: 200px; */
}

.face-but:before {
  content: url(../images/facebook.svg);
  padding-right: 3px;
  /* width: 200px;
  height: 200px; */
}

.rss-but:before {
  content: url(../images/rss.svg);
  padding-right: 5px;
  /* width: 200px;
  height: 200px; */
}

.mail-but:before {
  content: url(../images/mail.svg);
  padding-right: 5px;

  /* width: 200px;
  height: 200px; */
}
